{
  "parser": "babel-eslint",
  "extends": "defaults/configurations/google",
  "rules": {
    "quotes": [0], // no opinion on ' vs "
    "object-curly-spacing": [0],
    "new-cap": [0], // allows function calls like Immutable.Map(...)
    "max-len": [2, 120, 2], // 120 max line length, tabs count as 2 spaces
    "indent": [2, 2], // no tabs, indent is 2 spaces
    "newline-after-var": [0],
    "react/jsx-indent-props": [2, 2], // no tabs, indent is two spaces
    "react/jsx-key": [2], // validate that key prop exists
    "react/jsx-no-undef": [2] // disallow undeclared variables in JSX
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "babel",
    "react"
  ]
}
